src/data
src/__pycache__
src/models

output1
output2

slurm-* 
*.pkl
*.csv

verification/pytorch-cifar/data
verification/pytorch-cifar/checkpoint
verification/pytorch-cifar/__pycache__
verification/pytorch-cifar/ResNet18/*.pth


data
model_stats
models

.ipynb_checkpoints
.vscode
.DS_store
src/model



